# Deep Neural Network

# Loan Prediction

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

### Load and preprocessing data

In [2]:
data = pd.read_csv('train_loan_prediction.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data.shape

(614, 13)

In [4]:
data.isnull().sum().sum()

149

In [5]:
print(f" There is {data.isnull().sum().sum()} missing values in this dataset")

 There is 149 missing values in this dataset

In [6]:
#let's see the type of data each variable has.
data.info

<bound method DataFrame.info of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [7]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
data = data.drop('Loan_ID', axis =1)
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## Cleaning data

we will replace some of the missing values with the sub-variables that have the most count.

### Gender

In [9]:
data['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [10]:
data['Gender'] = data['Gender'].replace({'male':'Male'})

In [11]:
print(f" There are {data['Gender'].value_counts()['Male']} male counts while there are {data['Gender'].value_counts()['Female']} female counts. Therefore, we will replace the missing values with male")

 There are 489 male counts while there are 112 female counts. Therefore, we will replace the missing values with male

In [12]:
data['Gender'] = data['Gender'].fillna('Male')

### Married

In [13]:
data['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [14]:
data['Married'] = data['Married'].fillna('Yes')

### Dependents

In [15]:
data['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [16]:
data['Dependents'] = data['Dependents'].fillna(0)

### Self-employed

In [17]:
data['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [18]:
data['Self_Employed'] = data['Self_Employed'].fillna('No')

### Loan Amount

we will fill the missing values with the average or mean of the sum of loan amouns.

In [19]:
data['LoanAmount'].value_counts()

120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [20]:
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].mean())

### Loan Amount term

In [21]:
data['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [22]:
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(360)

### Credit History

In [23]:
data['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [24]:
 data['Credit_History'].fillna(method ='ffill', inplace = True)

In [25]:
print(f"There is {data['Credit_History'].isnull().sum().sum()} missing value in the data.")

There is 0 missing value in the data.

In [26]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

### Encoding Categorical values

In [27]:
df = data

In [28]:
data['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [29]:
df['Gender'] = df['Gender'].map({'Male':0,'Female':1})
df['Married'] = df['Married'].map({'No':0,'Yes':1})
df['Education'] = df['Education'].map({'Not Graduate':0,'Graduate':1})
df['Self_Employed'] = df['Self_Employed'].map({'No':0,'Yes':1})

In [30]:
df['Property_Area'] = df['Property_Area'].map({'Urban':0,'Rural':1, 'Semiurban':2})
df['Dependents'] = df['Dependents'].map({'0':0, '1':1, '2':2, '3+':3})

In [31]:
df['Loan_Status'] = df['Loan_Status'].map({'N': 0, 'Y':1})

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int64
 1   Married            614 non-null    int64
 2   Dependents         599 non-null    float64
 3   Education          614 non-null    int64
 4   Self_Employed      614 non-null    int64
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    float64
 9   Credit_History     614 non-null    float64
 10  Property_Area      614 non-null    int64
 11  Loan_Status        614 non-null    int64
dtypes: float64(5), int64(7)
memory usage: 57.7 KB

In [33]:
df = df.dropna()
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,0.0,1,0,5849,0.0,146.412162,360.0,1.0,0,1
1,0,1,1.0,1,0,4583,1508.0,128.000000,360.0,1.0,1,0
2,0,1,0.0,1,1,3000,0.0,66.000000,360.0,1.0,0,1
3,0,1,0.0,0,0,2583,2358.0,120.000000,360.0,1.0,0,1
4,0,0,0.0,1,0,6000,0.0,141.000000,360.0,1.0,0,1

In [34]:
X = df.iloc[:,0:11].values
y = df.iloc[:,11].values.ravel()
y = np.array(y).astype(int)

In [35]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [36]:
X_train

array([[  0.,   1.,   2., ..., 180.,   1.,   2.],
       [  0.,   1.,   0., ..., 360.,   1.,   1.],
       [  0.,   1.,   0., ..., 360.,   1.,   0.],
       ...,
       [  1.,   0.,   0., ..., 360.,   1.,   2.],
       [  0.,   1.,   1., ..., 360.,   1.,   2.],
       [  0.,   1.,   2., ..., 480.,   1.,   2.]])

In [37]:
# Feature Scaling
from sklearn import preprocessing
X_test = preprocessing.scale(X_test)
X_train = preprocessing.scale(X_train)
X = preprocessing.scale(X)

In [38]:
X_train

array([[-0.46114881,  0.72489841,  1.18117635, ..., -2.64778657,
         0.43426444,  1.09245268],
       [-0.46114881,  0.72489841, -0.76309675, ...,  0.2767863 ,
         0.43426444, -0.08877719],
       [-0.46114881,  0.72489841, -0.76309675, ...,  0.2767863 ,
         0.43426444, -1.27000706],
       ...,
       [ 2.1684974 , -1.37950364, -0.76309675, ...,  0.2767863 ,
         0.43426444,  1.09245268],
       [-0.46114881,  0.72489841,  0.2090398 , ...,  0.2767863 ,
         0.43426444,  1.09245268],
       [-0.46114881,  0.72489841,  1.18117635, ...,  2.22650154,
         0.43426444,  1.09245268]])

In [39]:
X_test

array([[-0.51298918, -1.31425748, -0.71044432, ...,  1.92262711,
        -2.23606798, -1.21574324],
       [ 1.94935887,  0.76088591, -0.71044432, ...,  0.29213062,
        -2.23606798, -1.21574324],
       [-0.51298918, -1.31425748, -0.71044432, ...,  0.29213062,
        -2.23606798,  0.04192218],
       ...,
       [-0.51298918,  0.76088591,  1.39457589, ..., -2.15361411,
        -2.23606798, -1.21574324],
       [-0.51298918, -1.31425748, -0.71044432, ...,  0.29213062,
         0.4472136 ,  1.29958761],
       [-0.51298918, -1.31425748,  0.34206578, ...,  0.29213062,
        -2.23606798,  1.29958761]])

# Deep Learning Neural Network

In [40]:
import tensorflow as tf
import keras
from keras.layers import Dense
from keras.optimizers import Adam

In [41]:
from keras.models import Sequential

### Constructing the network

In [42]:
y = y.reshape(-1, 1)

In [43]:
Seq_Net = Sequential()

In [44]:
Seq_Net.add(Dense(10, input_shape = (X.shape[1],), activation = 'relu', name = 'first'))
Seq_Net.add(Dense(20, activation ='relu', name = 'secong'))
Seq_Net.add(Dense(10, activation = 'tanh', name ='third'))
Seq_Net.add(Dense(6, activation ='sigmoid', name ='fourth'))
Seq_Net.add(Dense(y.shape[1], activation ='softmax', name ='output'))

In [45]:
optimizer = Adam(learning_rate = 0.001)
Seq_Net.compile(optimizer, loss ='categorical_crossentropy', metrics =['accuracy'])

In [46]:
print(Seq_Net.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 first (Dense)               (None, 10)                120

 secong (Dense)              (None, 20)                220

 third (Dense)               (None, 10)                210

 fourth (Dense)              (None, 6)                 66

 output (Dense)              (None, 1)                 7

=================================================================
Total params: 623
Trainable params: 623
Non-trainable params: 0
_________________________________________________________________
None

### Fitting the model

In [47]:
Seq_Net.fit(X_train, y_train, verbose =1, batch_size = X.shape[1], epochs = 200)

Epoch 1/200
44/44 [==============================] - 9s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 2/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 3/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 4/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 5/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 6/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 7/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 8/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 9/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 10/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 11/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 12/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 13/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 14/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 15/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 16/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 17/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 18/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 19/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 20/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 21/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 22/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 23/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 24/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 25/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 26/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 27/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 28/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 29/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 30/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 31/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 32/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 33/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 34/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 35/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 36/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 37/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 38/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 39/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 40/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 41/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 42/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 43/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 44/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 45/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 46/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 47/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 48/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 49/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 50/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 51/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 52/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 53/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 54/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 55/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 56/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 57/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 58/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 59/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 60/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 61/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 62/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 63/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 64/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 65/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 66/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 67/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 68/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 69/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 70/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 71/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 72/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 73/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 74/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 75/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 76/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 77/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 78/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 79/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 80/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 81/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 82/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 83/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 84/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 85/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 86/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 87/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 88/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 89/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 90/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 91/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 92/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 93/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 94/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 95/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 96/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 97/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 98/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 99/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 100/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 101/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 102/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 103/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 104/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 105/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 106/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 107/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 108/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 109/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 110/200
44/44 [==============================] - 0s 7ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 111/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 112/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 113/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 114/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 115/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 116/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 117/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 118/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 119/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 120/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 121/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 122/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 123/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 124/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 125/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 126/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 127/200
44/44 [==============================] - 0s 7ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 128/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 129/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 130/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 131/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 132/200
44/44 [==============================] - 0s 7ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 133/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 134/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 135/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 136/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 137/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 138/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 139/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 140/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 141/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 142/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 143/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 144/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 145/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 146/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 147/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 148/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 149/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 150/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 151/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 152/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 153/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 154/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 155/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 156/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 157/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 158/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 159/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 160/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 161/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 162/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 163/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 164/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 165/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 166/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 167/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 168/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 169/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 170/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 171/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 172/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 173/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 174/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 175/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 176/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 177/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 178/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 179/200
44/44 [==============================] - 0s 7ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 180/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 181/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 182/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 183/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 184/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 185/200
44/44 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 186/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 187/200
44/44 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 188/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 189/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 190/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 191/200
44/44 [==============================] - 0s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6994
Epoch 192/200

### Testing the model

In [50]:
Seq_Net.evaluate(X_train, y_train)

15/15 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6994

[0.0, 0.699373722076416]

In [48]:
Seq_Net.evaluate(X_test, y_test)

4/4 [==============================] - 1s 5ms/step - loss: 0.0000e+00 - accuracy: 0.6500

[0.0, 0.6499999761581421]

In [49]:
print(Seq_Net.get_weights())

[array([[-9.9978194e-02,  4.9885529e-01, -1.1583936e-02, -7.3674873e-02,
        -9.5420532e-02,  5.0087982e-01, -4.3805301e-01, -2.9795064e-02,
        -1.9492668e-01, -3.8751218e-01],
       [ 5.9646212e-02, -3.6737227e-01, -2.6181358e-01, -2.4533805e-01,
         3.8587156e-01,  4.5794258e-01, -2.3359698e-01, -2.0621797e-01,
         2.0198368e-01,  1.6537802e-01],
       [-1.6940795e-01, -5.4147422e-01,  4.6287188e-01,  4.1040814e-01,
         5.2186501e-01,  4.2320055e-01, -3.3084550e-01, -4.3980348e-01,
         2.8975904e-01, -1.2077163e-01],
       [-4.0257055e-01, -5.4704279e-01,  2.4456728e-02, -4.2684221e-01,
         4.6730742e-01, -4.9486890e-02,  1.4874052e-02,  4.9332306e-01,
        -5.1690190e-04,  7.1938598e-01],
       [-6.5821427e-01,  4.7024471e-01, -4.8236811e-01, -3.7649494e-01,
         7.1277983e-02,  2.6377606e-01,  4.6847805e-02,  1.6165830e-01,
         3.5808668e-01, -4.2579690e-01],
       [-2.0962566e-01, -3.1325006e-01,  1.8289921e-01, -2.7371344e-01,
        -6.3057989e-01,  2.8523931e-01,  4.6001345e-01, -1.1579037e-02,
         5.3516155e-01,  4.3893494e-02],
       [-3.1712955e-01, -7.3824212e-02,  5.1522231e-01,  2.2244215e-01,
        -3.9592475e-01, -2.2587299e-01,  4.8304206e-01, -4.8668772e-02,
        -3.1648666e-01,  2.7904016e-01],
       [-5.9453058e-01, -4.0966425e-02, -3.5968533e-01, -1.9941188e-01,
        -5.2506375e-01,  8.7576024e-02, -2.9907483e-01,  1.3757312e-01,
         5.3629345e-01,  4.1057962e-01],
       [ 3.2763932e-02,  6.0412878e-01,  2.6175281e-01,  1.2814593e-01,
        -3.3529031e-01,  5.5064570e-02, -4.9961981e-01,  4.0896985e-01,
         5.5333960e-01,  1.8974480e-01],
       [ 5.3910375e-01, -4.1195485e-01, -2.0474985e-02,  2.3598963e-01,
        -2.9998931e-01,  5.2512407e-01,  8.1246346e-02,  6.7409682e-01,
        -2.7719355e-01, -2.9098976e-01],
       [-4.0345088e-02,  3.3844486e-01,  1.9953793e-01,  3.1623539e-02,
        -3.3094612e-01,  4.6032354e-01, -3.0993620e-01, -1.6982321e-01,
        -5.7641774e-01, -3.2266404e-02]], dtype=float32), array([0.25706083, 0.18131545, 0.1453601 , 0.05570276, 0.23712334,
       0.14051947, 0.1614458 , 0.25766176, 0.20411517, 0.22449982],
      dtype=float32), array([[-0.13222398, -0.35829416,  0.37357634,  0.5516513 , -0.1587913 ,
         0.46513298, -0.2757724 ,  0.18577397,  0.34048006,  0.13651654,
        -0.0994198 ,  0.23065427, -0.44900882,  0.49624202, -0.33992305,
         0.03799461,  0.16153938, -0.46225312,  0.6106527 ,  0.14900358],
       [-0.42329755, -0.31866693,  0.39574254,  0.0785558 ,  0.54697675,
         0.6009413 , -0.41628897,  0.5171014 ,  0.05764391,  0.45813766,
        -0.13934189, -0.36355758,  0.14936768,  0.2263697 , -0.40130454,
         0.04794361,  0.21905214, -0.21002926,  0.06416631,  0.53924406],
       [ 0.23448958, -0.09304705,  0.3942336 , -0.20368338,  0.43309864,
         0.38529265, -0.4334616 , -0.08788868,  0.49308425, -0.17872088,
        -0.3349984 ,  0.1750107 ,  0.21944752,  0.37927082,  0.04728869,
         0.5274878 , -0.01279885, -0.30443466, -0.07713573, -0.12843119],
       [ 0.09486433, -0.36701474,  0.4844296 ,  0.09909197,  0.05488516,
        -0.12850463, -0.3890446 , -0.03724837, -0.0327874 ,  0.3887663 ,
        -0.44115078,  0.2688203 ,  0.27770197,  0.20767649,  0.17793332,
        -0.33525658,  0.23849776,  0.01754542, -0.2359569 ,  0.09120253],
       [-0.3884304 , -0.41772938,  0.4389526 ,  0.3873884 ,  0.3164839 ,
        -0.02540839,  0.32063872, -0.13947222,  0.41403136,  0.56581265,
        -0.29784372, -0.34489176,  0.29313487,  0.425789  ,  0.2860987 ,
         0.57150614,  0.28811258, -0.00863374,  0.61182237,  0.11051793],
       [-0.17842901,  0.1842376 ,  0.04181923,  0.18061806,  0.30331463,
        -0.19128142, -0.37319294,  0.54180884, -0.01502558,  0.07662573,
         0.24414954,  0.03825455, -0.15221013,  0.36592698, -0.05834558,
         0.2478755 ,  0.0422998 , -0.17921808,  0.06347879,  0.16751654],
       [-0.2345596 , -0.30364946,  0.1275505 ,  0.00414825,  0.1769427 ,
        -0.08950876, -0.24661295, -0.10276277,  0.53812927,  0.26386413,
         0.13774802,  0.12099227,  0.40146106,  0.29187527, -0.4702462 ,
        -0.2996872 ,  0.09868293, -0.12020253, -0.07373346,  0.306657  ],
       [-0.3168928 , -0.08442801,  0.25071225,  0.27415982,  0.1799716 ,
         0.2862823 ,  0.00712446, -0.00420218,  0.29715285,  0.5066405 ,
         0.02508581, -0.39656663,  0.31858602,  0.46214315, -0.30818674,
         0.00373342, -0.00427887,  0.39162305,  0.13346523,  0.2958887 ],
       [-0.22061971,  0.00615498,  0.48773983,  0.30968466,  0.086913  ,
        -0.12153584,  0.11250976,  0.48801938,  0.46771178,  0.41884202,
         0.29390886,  0.14861956,  0.01338712,  0.3553557 ,  0.01161279,
         0.12524223, -0.10440341, -0.39602914, -0.09171017,  0.13492383],
       [-0.40443143, -0.32937902,  0.45603517, -0.13174307,  0.25803387,
         0.47194895, -0.43939528,  0.02649646, -0.1902568 ,  0.32297355,
        -0.27323195, -0.47987103, -0.35296926,  0.46321246, -0.28761238,
        -0.01989371,  0.1674282 , -0.18955056,  0.35591266,  0.44322482]],
      dtype=float32), array([-0.00769966,  0.        ,  0.19877584,  0.24797808,  0.17787643,
        0.20489234, -0.03443512,  0.18436798,  0.19595836,  0.16410384,
       -0.05345042, -0.08143449, -0.02229916,  0.38260344, -0.08718575,
        0.20818974, -0.12097055, -0.03809115,  0.2641132 ,  0.20222324],
      dtype=float32), array([[ 0.21090937, -0.03449438, -0.22668405, -0.02889419, -0.1930703 ,
         0.26837024, -0.39056635,  0.08890425, -0.3641295 , -0.1395058 ],
       [-0.162229  ,  0.06176102,  0.30853176,  0.17958963, -0.1751965 ,
         0.15025425, -0.41442713, -0.03983644,  0.41177005, -0.32789266],
       [-0.4808866 ,  0.32966867,  0.3673414 , -0.56927514,  0.06475407,
         0.09904996,  0.26101705, -0.01506141,  0.39650807, -0.0834606 ],
       [-0.5282811 ,  0.45448118,  0.05152709,  0.20157142, -0.5810954 ,
         0.17868745, -0.1797858 , -0.2777995 ,  0.17240989, -0.18721639],
       [-0.12352284,  0.38634858,  0.31326303, -0.0967624 , -0.25148448,
        -0.04191999,  0.5190674 , -0.20396942,  0.28144932, -0.3042745 ],
       [-0.6055363 ,  0.11114241,  0.31785256, -0.37169585, -0.53484654,
         0.34413815, -0.29364744, -0.3028975 , -0.04001877, -0.53042156],
       [ 0.15480372, -0.31683844, -0.15591365, -0.1967919 ,  0.10441773,
        -0.20859215,  0.12220313,  0.04599533,  0.488614  , -0.46770656],
       [ 0.1250035 , -0.17329012,  0.04106567, -0.0748523 , -0.44102547,
         0.4011713 ,  0.37148428, -0.37178773,  0.53357655,  0.09368473],
       [-0.16601844, -0.16535266,  0.4740037 , -0.58932835, -0.40569147,
         0.6739017 ,  0.56251276,  0.09092352,  0.34516525,  0.06630857],
       [-0.14693272,  0.55131304, -0.03409736,  0.00486506, -0.34247234,
         0.55489635,  0.51981175, -0.5024917 ,  0.04800747, -0.53964037],
       [ 0.14754102,  0.4365335 , -0.05258315,  0.1946875 ,  0.20857741,
         0.30223674, -0.3670913 ,  0.06080257, -0.0432325 ,  0.2563938 ],
       [-0.39067036, -0.14485458, -0.11196128, -0.37350962,  0.27578637,
        -0.29042   , -0.32872903,  0.27021372,  0.4598282 ,  0.294751  ],
       [-0.2563131 , -0.19939801,  0.38379353,  0.31595972,  0.22257346,
         0.5212646 , -0.33090842, -0.18282157,  0.02046537, -0.29090708],
       [-0.2450676 ,  1.2931305 ,  0.8350343 , -0.9083862 , -0.60160846,
         1.0504717 ,  0.6873797 , -0.9992938 ,  0.9739007 , -0.7090334 ],
       [ 0.27502906,  0.17121582, -0.1873684 ,  0.37623915, -0.19472705,
         0.4378021 ,  0.33740517,  0.2785726 , -0.16764592,  0.08384203],
       [-0.04415375, -0.21373011,  0.38814425, -0.49593258, -0.3505927 ,
         0.22741424,  0.15952688, -0.07920272, -0.2149603 , -0.47686425],
       [ 0.1785959 , -0.13547158, -0.10787462, -0.51788694,  0.0603625 ,
         0.07978046, -0.03367996,  0.13475218, -0.24689406, -0.3853391 ],
       [ 0.1258768 , -0.23262438, -0.29131934,  0.24567272,  0.1866073 ,
         0.32190555, -0.32091194, -0.2216393 ,  0.24879068, -0.04509696],
       [-0.12775175,  0.5461367 ,  0.23719251,  0.0119587 , -0.40527225,
        -0.1308758 ,  0.23793186, -0.34099448,  0.45945695, -0.19949047],
       [-0.16582939,  0.02616665,  0.49502403, -0.18508957, -0.1383477 ,
        -0.08931025,  0.32143566, -0.14074224,  0.57833123, -0.43823949]],
      dtype=float32), array([-0.15069889,  0.17100468,  0.07287832, -0.12481251, -0.11680225,
        0.21297061,  0.10571602, -0.16740893,  0.1302811 , -0.10086718],
      dtype=float32), array([[-0.95851046,  1.284117  , -0.96266323, -0.5812288 ,  1.0879915 ,
        -1.1586931 ],
       [ 1.4524088 , -0.92918485,  1.7792426 ,  1.3480488 , -1.1103139 ,
         1.4678212 ],
       [ 0.86335707, -0.43334827,  1.4623613 ,  0.88073874, -1.4173919 ,
         1.8210353 ],
       [-1.3412726 ,  0.37437776, -0.8335697 , -1.2276322 ,  1.156223  ,
        -0.49949014],
       [-1.5694854 ,  1.038345  , -1.1638194 , -0.82391226,  0.2071034 ,
        -1.48104   ],
       [ 0.87037945, -1.1843567 ,  0.97831064,  1.6153276 , -1.0265026 ,
         1.632934  ],
       [ 0.60146797, -1.1785557 ,  0.6246529 ,  0.82285   , -1.0294443 ,
         0.8893906 ],
       [-1.8316262 ,  0.7941362 , -1.6044735 , -0.9006083 ,  0.9765918 ,
        -1.7574352 ],
       [ 1.3503346 , -0.1709869 ,  1.2943368 ,  1.0800872 , -1.2323673 ,
         1.3012483 ],
       [-1.1472279 ,  0.8508912 , -0.8564747 , -0.639243  ,  0.5323837 ,
        -0.99498975]], dtype=float32), array([ 0.64638054, -0.52237815,  1.0574155 ,  1.0452083 , -0.40940562,
        0.8140346 ], dtype=float32), array([[-8.889008  ],
       [ 0.03769084],
       [-8.226571  ],
       [-6.73516   ],
       [ 0.31001103],
       [-8.220604  ]], dtype=float32), array([-8.001848], dtype=float32)]

# Interpretation

The deep neural network model is used to predict loan. as you can see, 5 differents layers were used in this model. the first one represents the input layer, and the last one, the output layer. the second, third, and fourth represent the hidden layers. the evaluation of this model comes down to 65% accuracy in testing which is not too bad. in contrary to the training accuracy which is 69%. We can tell that the model is a perfect fit as both trained and test models generate accuracies level close to each other.